<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/frame}">

<head>

    <title>Về chúng tôi</title>


</head>

<body>

<div layout:fragment="content">
    <!-- Page Content -->
    <div class="section">
        <div class="container">

            <!-- Introduction Row -->
            <h1 class="my-4" style="color:#F8694A">About Us
                <h5 style="margin:15px 0">It's Nice to Meet You!</h5>
            </h1>
            <p style="margin-bottom:25px">Team gồm 5 thành viên được thành lập với tên BITMAP nhầm mục đích cùng nhau hợp sức vượt qua các đồ án
                môn
                học.</p>

            <!-- Team Members Row -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="my-4" style="color:#F8694A">Thành viên của nhóm</h2>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/image/trongphuc.png" alt="">
                    <h3>Trần Trọng Phúc
                        <h5>(Nhóm trưởng)</h5>
                    </h3>
                    <p>Kết nối thành viên trong nhóm, chia công việc, train team về spring, Dev</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/image/haiphong.png" alt="">
                    <h3>Trần Hải Phong
                        <h5>(Business Analyst, Design)</h5>
                    </h3>
                    <p>Viết Report, Design template</p>
                </div>
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/image/anhhuy.png" alt="">
                    <h3>Nguyễn Anh Huy
                        <h5>(Design, Business Analyst)</h5>
                    </h3>
                    <p>Thiết kế template</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6 text-center">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/image/minhnhut.png" alt="">
                    <h3>Trần Minh Nhựt
                        <h5>(Developer, Tester)</h5>
                    </h3>
                    <p>Code và test.</p>
                </div>
                <div class="col-lg-6 col-sm-6 text-center">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="/image/daiphuc.png" alt="">
                    <h3>Trình Đại Phúc
                        <h5>(Developer, Tester)</h5>
                    </h3>
                    <p>Code và test</p>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>

</div>

</body>

</html>
