<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/frame}">
<head>
    <meta charset="UTF-8">
    <title>Xác thực đăng kí</title>
</head>
<body>

<div layout:fragment="content">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="my-form" id="resend-email">
                    <h3>Gửi lại email xác thực tài khoản</h3>
                    <hr>
                    <form action="/resendVerification" method="post">
                        <div class="form-group">
                            <label for="resend-email-input">Email</label>
                            <input type="email" id="resend-email-input" name="email" placeholder="Nhập email đã đăng kí" class="form-control">
                        </div>
                        <div class="g-recaptcha form-group"
                             th:attr="data-sitekey=${@captchaSetting.getSite()}">
                        </div>
                        <span id="captchaError" class="alert alert-danger col-sm-4" style="display:none"></span>
                        <div class="form-group">
                            <input type="submit" value="Gửi" class="primary-btn" id="resend-email-submit">
                        </div>
                        <div th:if="${error}" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Lỗi!</strong> <span th:utext="${error}"></span>
                        </div>
                    </form>
                    <div id="loader">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>