<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
    <link rel="stylesheet" href="/index/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/index/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/index/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/index/css/custom.css"/>
</head>
<body>


<div class="container">
    <div class="row" >
        <div class="jumbotron" style="margin: 20px 0">
            <h1 class="display-4">
                Hello, friend.
            </h1>
            <hr>
            <p>Something went wrong!</p>
            <a class="btn btn-danger primary-bg" href="/"><i class="fa fa-home"></i>Go home</a>
        </div>
    </div>
</div>

</body>
</html>